@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #f8f8f6;
  --background-end: #ffffff;
  --nav-height: 104px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

.main {
  width: 100vw;
  min-height: calc(100vh - var(--nav-height));
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  /* pointer-events: none; */
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}

.form_input {
  @apply w-full flex rounded-lg p-3 text-sm text-gray-500 outline-0;
}

.w_inherit {
  width: inherit;
}