@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #f8f8f6;
  --background-end: #ffffff;
  --nav-height: 64px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

.main {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  /* pointer-events: none; */
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}

.form_input {
  @apply w-full flex rounded-lg p-3 text-sm text-gray-500 outline-0;
}

.w_inherit {
  width: inherit;
}

.bg_inherit {
  background: inherit;
}

.text_stroke {
  text-shadow: -1px -1px 0 #422107, 0 -1px 0 #422107, 1px -1px 0 #422107, 1px 0 0 #422107,
    1px 1px 0 #422107, 0 1px 0 #422107, -1px 1px 0 #422107, -1px 0 0 #422107;
}

.min_h_occupied {
  min-height: calc(100vh - var(--nav-height));
}

.prevent_select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffc107 #f1f1f1;
}
